@charset "UTF-8";


body, html{
    height: 100%;
  }
  
  .container{
    background: #7a6d6d;
    width: 600px;
    margin: 0 auto;
    height: 80%;
  }

  .fundo{
    background: url("/img/naruto.jpg");
}
   
   .img{
       border-radius: 0%;
   }
   
       

   