@charset "UTF-8";


body, html{
    height: 100%;
  }
  
  .container{
    background: #a7a7a7;
    width: 600px;
    margin: 0 auto;
    height: 80%;
    border-radius: 20px 20px 20px 20px;
  }

  .fundo{
    background: url("/img/naruto.jpg");
}

.logo{
    position:relative;
	left: 27%;
	top:5%;
}
